<%= form_with(model: github, local: true) do |form| %>
  <% if github.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(github.errors.count, "error") %> prohibited this github from being saved:</h2>

      <ul>
      <% github.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
